{% extends 'base.html' %}
{%block content%}

<p>
    {{movies|length}} Titles
</p>
<ul class="movie-list">
    {% for movie in movies %}
    <li>
        {{movie.title}}-{{movie.year}}
    <span class="float-right">
        <a class="imdb" href="https://search.douban.com/movie/subject_search?search_text={{movie.title}}" target="_blank" title="find this movie on 豆瓣 ">豆瓣</a>
    </span>
    </li>
    {% endfor %}
</ul>
<img alt="walking totoro" class="totoro" src="{{url_for('static',filename='images/totoro.gif')}}">
{% endblock%}